@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    height: 70px;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.15);

    img.airbnb-logo {
        max-width: 100px;
    }
}

section.hero {
    padding: 20px;
    display: flex;
    flex-direction: column;

    img.hero-image {
        max-width: 800px;
        align-self: center;
    }
    h1.hero-header {
        margin-bottom: 16px;
    }
    p.hero-text {
        font-weight: 600;
        opacity: 0.6;
    }
}

div.cards {
    div.card {
        width: 175px;
        font-size: 12px;

        img.card-image {
            width: 100%;
            border-radius: 9px;
        }

        div.card-stats {
            display: flex;
            align-items: center;

            img.card-star {
                height: 16px;
            }
        }

        span.gray {
            color: #918e9b;
        }

        span.bold {
            font-weight: 600;
        }
    }
}
